<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    {% block additional_static %}{% endblock %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container" style="max-width:1000px">
      <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Сервис опросов</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                  <li>
                    <a href="{% url 'user_polls' %}">Мои опросы</a></li>
                  <li>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Моя статистика <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'user_popular_polls_stat' %}">Популярные вопросы</a></li>
                      <li><a href="{% url 'user_popular_answers_stat' %}">Ответы на опросы</a></li>
                    </ul>
                  </li>
                {% endif %}
              </ul>

              <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Администратор <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'admin_stat' %}">Общая статистика</a></li>
                      <li><a href="{% url 'admin_popular_polls' %}">Популярные опросы</a></li>
                      <li><a href="{% url 'admin_popular_users' %}">Популярные пользователи</a></li>
                      <li><a href="{% url 'admin_users' %}">Управление пользователями</a></li>
                    </ul>
                  </li>
                {% if user.is_anonymous %}
                    <li><a href="{% url 'registration' %}">Регистрация</a></li>
                {% endif %}
                <li>
                  {% if user.is_anonymous %}
                    <a href="{% url 'django.contrib.auth.views.login' %}">Войти</a>
                  {% else %}
                    <a href="{% url 'django.contrib.auth.views.logout' %}">Привет, {{ user }}, Выйти?</a>
                  {% endif %}
                </li>
              </ul>
            </div>
          </div>
      </nav>
    {% block content %}{% endblock %}
    </div>
</body>
</html>