{% extends 'base.html' %}

{% block content %}
    <h2>Пользователи</h2>

    <table class="table">
        <tr>
            <th>Имя</th>
            <th>Вес</th>
        </tr>
        {% for polluser in instances %}
            <tr>
                <td><a href="{{ polluser.get_absolute_url }}">{{ polluser.username }}</a></td>
                <td>{{ polluser.weight }}</td>
            </tr>
        {% endfor %}
    </table>
    {% include "rambler/common/paginator.html" with instances=instances %}
{% endblock %}