{% extends 'base.html' %}

{% block content %}
    <h2>Опросы</h2>
    <ul>
        {% for poll in instances %}
            <li>
                <a href="{{ poll.get_absolute_url }}">
                    {{ poll.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
        <a href="{% url 'user_poll_add' %}" class="btn btn-info" role="button">Создать опрос</a>
    {% endif %}
    {% include "rambler/parts/paginator.html" with instances=instances %}
{% endblock %}