{% extends 'base.html' %}

{% load polls %}
{% load staticfiles %}

{% block additional_static %}
    <script src="{% static 'script.js' %}"></script>
    <script src="{% static 'jquery.cookie.js' %}"></script>
{% endblock %}

{% block content %}
    <h2 data-pk="{{ poll.pk }}" id="poll" data-finish_url="{% url 'finish_poll' poll.pk %}">{{ poll.name }}</h2>
        <br>
        {% for question in instances %}
                <h4 class="active">{{ question.text }}</h4>
                <br>
                    <form class="question">
                        {% get_form question %}<br>
                    </form>
                    {% if not user_answered %}
                        <button type="button" class="btn btn-primary answer">Ответить</button>
                    {% endif %}
            <br>
        {% endfor %}
    <br><br>
    {% include "rambler/parts/paginator.html" with instances=instances %}
    <br>
    <a href="#" class="btn btn-danger finish-poll" role="button">Завершить опрос</a>
{% endblock %}